{:kotoba.app/id "cloud.itonami.isic-5510", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih7dji363hbjxk7lqidz4st6h5u4clgh5enrodcystej4pqgr4bz4", :kotoba.app/embed-url "ipfs://bafkreih7dji363hbjxk7lqidz4st6h5u4clgh5enrodcystej4pqgr4bz4", :published {:archive "https://kotobase.net/ipfs/bafkreih7dji363hbjxk7lqidz4st6h5u4clgh5enrodcystej4pqgr4bz4", :size 72500, :put-status 201, :get-status 200, :at "2026-08-15T14:04:40.135Z"}}
